<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand pointer" (click)="volverMain()" style="display: flex; justify-content: center;">
        <!-- Logo text -->
        <span>
          <!-- dark Logo text -->
          <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
          <!-- Light Logo text -->
          <img src="assets/images/siigo.png" class="light-logo" alt="homepage"
            style="width: 120px; height: 90px" />
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li> -->
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Datos terapeuta -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a class="mr-2" style="color:white">
            <span> Bienvenido al sistema, hoy {{fechaActual}} </span>
          </a>
          <a style="color:white">
            <i class="ti-user"></i><span> {{ headerNombre }}</span>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- Datos terapeuta -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="has-arrow nav-link waves-effect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>mi cuenta</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box" align="center">
                  <div class="u-img"><img [src]="usuario.img | imagen: 'therapist'" alt="therapist"></div>
                  <div class="u-text">
                    <h4> {{ usuario.email }} </h4>
                    <p class="text-muted"> {{headerProfesion}} </p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="_usuarioService.logout()" class="pointer"><i class="fa fa-mail-reply"></i> Volver</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->

<!-- Modal Actualizar contraseña-->

<div bsModal #firstModal="bs-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" (onShow)="hide = true" (onHide)="hide = false">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <app-accout-settings #publicAttencionCrearComponent (hidden)="firstModal.hide()" [usuario]="usuario.email"
        [accoutSettings]="accoutSettings" (onActualizarContrasena)="onActualizarContrasena()">
      </app-accout-settings>
    </div>
  </div>
</div>


<!-- Modal Actualizar Perfil-->

<div bsModal #secondModal="bs-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" (onShow)="hide = true" (onHide)="hide = false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <app-profile #profileComponent [usuario]="usuario" [imagenTemp]="imagenTemp" (hidden)="secondModal.hide()"
        (onActualizarPerfil)="onActualizarPerfil()" (onSelectionImage)="onSelectionImage($event)">
      </app-profile>
    </div>
  </div>
</div>
